.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 100px; }
  @media (max-width: 768px) {
    .main {
      margin: 50px 20px; } }
  .main .main__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .main .main__content {
        flex-direction: column; } }
  .main .bannerChevron {
    display: flex;
    flex-direction: column; }
    .main .bannerChevron .bannerChevron__container {
      color: white;
      position: relative;
      bottom: 350px;
      font-size: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 20px; }
      @media (max-width: 768px) {
        .main .bannerChevron .bannerChevron__container {
          bottom: 200px;
          font-size: 40px; } }
    .main .bannerChevron .bannerChevron__list {
      color: white;
      font-size: 18px;
      text-align: center;
      position: relative;
      bottom: 130px; }
      @media (max-width: 768px) {
        .main .bannerChevron .bannerChevron__list {
          bottom: 80px;
          display: none; } }
  .main .banner {
    display: block;
    border-radius: 25px;
    height: 600px;
    width: 100%;
    object-fit: cover; }
    @media (max-width: 768px) {
      .main .banner {
        height: 350px; } }
  .main .titleContainer {
    width: 70%;
    margin-top: -60px; }
    @media (max-width: 768px) {
      .main .titleContainer {
        width: 100%; } }
    .main .titleContainer .titleContainer__title {
      color: #FF6060;
      font-size: 36px;
      font-weight: 400; }
      @media (max-width: 768px) {
        .main .titleContainer .titleContainer__title {
          font-size: 22px;
          margin-top: 9px; } }
    .main .titleContainer .titleContainer__location {
      font-size: 18px;
      font-weight: 400; }
      @media (max-width: 768px) {
        .main .titleContainer .titleContainer__location {
          margin-top: 9px; } }
    .main .titleContainer .titleContainer__tags {
      display: flex;
      flex-direction: row;
      margin: 20px 0;
      flex-wrap: wrap; }
      .main .titleContainer .titleContainer__tags .titleContainer__tags--item {
        border-radius: 10px;
        font-size: 14px;
        padding: 5px 20px;
        color: white;
        margin-right: 10px;
        background-color: #FF6060;
        margin: 10px 10px 2px 0; }
  .main .rateContainer {
    width: 25%;
    position: relative;
    bottom: 60px; }
    @media (max-width: 768px) {
      .main .rateContainer {
        width: 100%;
        position: initial;
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between; } }
    .main .rateContainer .rateContainer__profile {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center; }
      .main .rateContainer .rateContainer__profile .rateContainer__profile--name {
        color: #FF6060;
        font-weight: 400; }
        @media (max-width: 768px) {
          .main .rateContainer .rateContainer__profile .rateContainer__profile--name {
            font-size: 14px; } }
      .main .rateContainer .rateContainer__profile .rateContainer__profile--picture {
        margin-left: 10px;
        border-radius: 100px;
        width: 64px;
        height: 64px; }
        @media (max-width: 768px) {
          .main .rateContainer .rateContainer__profile .rateContainer__profile--picture {
            width: 32px;
            height: 32px; } }
    .main .rateContainer .rateContainer__rate {
      margin-top: 25px;
      display: flex;
      justify-content: right; }
      @media (max-width: 768px) {
        .main .rateContainer .rateContainer__rate {
          margin-top: 10px; } }
      .main .rateContainer .rateContainer__rate .rateContainer__rate--star {
        margin-left: 10px;
        font-size: 26px;
        color: #FF6060; }
        @media (max-width: 768px) {
          .main .rateContainer .rateContainer__rate .rateContainer__rate--star {
            font-size: 14px; } }
      .main .rateContainer .rateContainer__rate .rateContainer__rate--star.empty {
        color: #CCCCCC; }

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 35px; }
  @media (max-width: 768px) {
    .aboutContainer {
      flex-direction: column; } }
  .aboutContainer .aboutContainer__box {
    width: 47%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 768px) {
      .aboutContainer .aboutContainer__box {
        width: 100%; } }
    .aboutContainer .aboutContainer__box .aboutContainer__box--red {
      display: flex;
      padding: 15px;
      border-radius: 10px;
      flex-direction: row;
      justify-content: space-between;
      background-color: #FF6060; }
      @media (max-width: 768px) {
        .aboutContainer .aboutContainer__box .aboutContainer__box--red {
          margin: 15px 0;
          height: 20px; } }
      .aboutContainer .aboutContainer__box .aboutContainer__box--red .aboutContainer__box--title {
        display: inline-block;
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 24px; }
        @media (max-width: 768px) {
          .aboutContainer .aboutContainer__box .aboutContainer__box--red .aboutContainer__box--title {
            font-size: 18px; } }
      .aboutContainer .aboutContainer__box .aboutContainer__box--red .aboutContainer__box--button {
        border: none;
        cursor: pointer;
        background-color: #FF6060; }
        @media (max-width: 768px) {
          .aboutContainer .aboutContainer__box .aboutContainer__box--red .aboutContainer__box--button {
            position: relative;
            bottom: 8px; } }
        .aboutContainer .aboutContainer__box .aboutContainer__box--red .aboutContainer__box--button .aboutContainer__box--icon {
          transition: transform 200ms ease-in-out;
          display: inline-block; }
          .aboutContainer .aboutContainer__box .aboutContainer__box--red .aboutContainer__box--button .aboutContainer__box--icon.open {
            transform: rotate(-180deg); }
    .aboutContainer .aboutContainer__box .aboutContainer__box--desc {
      display: flex;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: max-height 300ms ease-in-out, visibility 300ms ease-in-out, margin 300ms ease-in-out;
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      margin: 0 190px;
      visibility: hidden; }
      @media (max-width: 768px) {
        .aboutContainer .aboutContainer__box .aboutContainer__box--desc {
          margin: 0 27px; } }
      .aboutContainer .aboutContainer__box .aboutContainer__box--desc.open {
        max-height: 200px;
        margin: 15px;
        visibility: visible; }
        @media (max-width: 768px) {
          .aboutContainer .aboutContainer__box .aboutContainer__box--desc.open {
            margin: 15px 27px; } }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

/*# sourceMappingURL=Card.css.map */
