@mixin title
  font-family: "League Spartan", sans-serif
  font-weight: bold

.contactHeader
  display: flex
  justify-content: space-between
  padding: 10px 15px
  background-color: white
  .contactHeader__icons
    display: flex
    font-size: 25px
    .contactHeader__icons--icon
      color: #5271ff
      cursor: pointer
      transition: transform 200ms linear
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
      &:hover
        transform: scale(1.1)
    .contactHeader__icons--title
      display: inline-block
      color: #5271ff
      @include title()
      font-size: 20px
      margin-left: 15px
  .contactHeader__devis
    display: inline-block
    font-size: 15px
    background-color: #5271ff
    color: white
    font-family: Lato, sans-serif
    border-radius: 5px
    padding: 5px 8px
    cursor: pointer
    transition: transform 200ms linear
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    &:hover
      transform: scale(1.1)


.header
  display: flex
  flex-direction: row
  align-items: center
  background-color: #5271ff
  justify-content: space-between
  padding: 0 50px
  height: 110px
  border-bottom: white 2px solid
  @media (max-width: 768px)
    margin: 45px 30px
  .header__title
    font-size: 50px
    color: white
    @include title()
    @media (max-width: 768px)
      width: 145px
  .header__navbar
    padding: 30px 0
    .header__navbar--logo
      font-size: 40px
      color: white
      display: inline-block
      margin-left: 30px
      transition: opacity 200ms ease-in-out,transform 200ms ease-in-out
      &:hover
        opacity: 0.8
        transform: scale(1.05)

.navbar
  display: flex
  justify-content: space-around
  padding: 20px 0
  background-color: #5271ff
  position: sticky
  top: 0
  z-index: 10
  &__link
    @include title()
    font-size: 20px
    color: white
    display: inline-block
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out
    &:hover
      transform: scale(1.05)
      opacity: 0.8

