.obtenirDevis {
  background-color: #5271ff;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  padding: 10px 0;
  font-size: 20px;
  .obtenirDevis__renov {
    color: white;
    padding: 20px 0 8px
  }
  .obtenirDevis__link {
    color: #5271ff;
    background-color: white;
    padding: 10px 20px;
    margin: 0 35%;
    border-radius: 15px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    flex-wrap: nowrap;
    transition: transform 200ms linear, background-color 200ms ease;
    &:hover{
      transform: scale(1.05);
      background-color: lightgray;
    }
  }
  .obtenirDevis__gratuit {
    color: white;
    padding: 8px 0 20px
  }
}
